
$primary-wht: hsla(0, 0%, 98%, 1);
$primary-dk-blue: hsla(225, 91%, 17%, 1);
$accent-lt-blue: hsla(197, 86%, 56%, 1);
$accent-orange: hsla(25, 100%, 58%, 1);
$todo-item-bg: hsla(0, 0%, 100%, 1);
$todo-item-bg-completed: hsla(0, 0%, 94%, 0.7);
$form-btn-border: hsla(0, 0%, 80%, 1);

$header-wht90: hsla(0, 0%, 98%, 0.9);
$header-wht80: hsla(0, 0%, 98%, 0.8); 

$body-txt-active: hsla(162, 63%, 3%, 1);
$body-txt-completed: hsla(0, 0%, 47%, 0.7);
$filter-btn-inactive: hsla(0, 0%, 33%, 1);

$sans-serif: "Roboto", sans-serif;
$font-wt-xtralight: 200;
$font-wt-light: 300;
$font-wt-norm: 400;
$font-wt-med: 500;
$font-wt-bold: 700;

$font-sz-base: 1.125rem;
$body-txt-lnht: 1.3;

$h2-font-sz: calc(1.78 * $font-sz-base);
$addbtn-font-sz: calc(1.22 * $font-sz-base);
$form-font-sz: calc(0.88 * $font-sz-base);
$progress-font-sz: calc(0.77 * $font-sz-base);
$action-font-sz: calc(0.66 * $font-sz-base);

$space-base: 1rem;
$border-radius10: calc(0.625 * $space-base);

@mixin placement($display: flex, $flexdir: row, $align: center, $justify: center) {
  display: $display;
  flex-direction: $flexdir;
  align-items: $align;
  justify-content: $justify;
}

@mixin position($pos, $top: auto, $left: auto, $btm: auto, $right: auto) {
  position: $pos;
  top: $top;
  left: $left;
  bottom: $btm;
  right: $right;
}

@mixin box-shadow() {
  box-shadow: 1px 1px 8px 0 hsla(0, 0%, 0%, 0.1);
}

@mixin transition($properties, $dur: 0.2s) {
  @each $property in $properties {
    transition-property: $property;
  }
  transition-duration: $dur;
  transition-timing-function: ease;
}

//Light and dark buttons
@mixin button-colors($mt-button: true) {
  @if $mt-button {
    background-color: transparent;
    color: $body-txt-active;
    border-bottom-left-radius: $border-radius10;
  } @else {
    background-color: $accent-lt-blue;
    color: $primary-wht;
    border-bottom-right-radius: $border-radius10;
  }
  /*@include bp(sprout) {
    @if $light-button {
      background-color: transparent;
      color: $body-txt-color;
      border: 1px solid $body-txt-color;
      @include transition(all);
      &:hover {
        background-color: $body-txt-color;
        color: $accent-red;
      } 
    } @else {
      background-color: transparent;
      border: 1px solid $accent-red;
      color: $accent-red;
      @include transition(all);
      &:hover {
        background-color: $accent-red;
        color: $body-txt-color;
      }
    }
  }*/
}

//Media queries, bp = breakpoint
@mixin bp($point) {
  @if $point == plant {
    @media (min-width: 1400px) { @content; }
  }
  @else if $point == sprout {
    @media (min-width: 1000px) { @content; }
  }
  @else if $point == seedling {
    @media (min-width: 800px) { @content; }
  }
  @else if $point == seed {
    @media (min-width: 600px) { @content; }
  }
}

body {
  font-family: $sans-serif;
  font-weight: $font-wt-norm;
  font-size: $font-sz-base;
  line-height: $body-txt-lnht;
}